*{
    box-sizing: border-box;
}

#grid-container{
    display: grid;
    width: 600px;
    height: 600px;
    margin: 30px auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#wrapper{
    padding: 50px;
}

#control-container{
    text-align: center;
}

h1{
    text-align: center;
}
